/* debug */

[class*="col-"] {
  height: 150px;
  /* background-color: green; */
  border: 1px solid black
}

header {
  padding: 0 15%;
  background-color: blue;
}

.ms_colorblue {
  background-color: yellow;
}
